// ボックスモデルの初期化
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// ベースのスタイル設定
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: red;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

// 共通のスタイル設定(input、buttonなど)
input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

// 変数の設定
$contW: 1920px; // コンテナの幅
$imgW: 800px; // 画像の幅
$formW: $contW - $imgW; // フォームの幅
$switchAT: 1.2s; // アニメーションの切り替え時間

$inputW: 260px; // 入力フォームの幅
$btnH: 36px; // ボタンの高さ

// コンテナと画像の幅の差の比率
$diffRatio: (
    $contW - $imgW) / $contW;

// 新規登録時のスタイル変更ミックスイン
@mixin signUpActive {
    .cont.s--signup & {
        @content;
    }
}

// ページ内のヒントスタイル
.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

// コンテナ全体のスタイル
.cont {
    overflow: hidden;
    position: relative;
    width: $contW;
    height: 955.5px;
    margin: 0 auto 0;
    background: blue;
    
}

// フォーム部分のスタイル
.form {
    position: relative;
    width: $formW;
    height: 100%;
    transition: transform $switchAT ease-in-out;
    padding: 50px 30px 0;
}

// サブコンテナのスタイル
.sub-cont {
    overflow: hidden;
    position: absolute;
    left: $formW;
    top: 0;
    width: $contW;
    height: 100%;
    padding-left: $imgW;
    background: yellow;
    transition: transform $switchAT ease-in-out;

    @include signUpActive {
        transform: translate3d($formW * -1, 0, 0
        );
    }
}

// ボタンの共通スタイル
button {
    display: block;
    margin: 0 auto;
    width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

// 画像部分のスタイル
.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: $imgW;
    height: 100%;
    padding-top: 360px;

    // 画像前の要素
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: $contW;
        height: 100%;
        background-image: url("../こんちゃん画像/wallpaperbetter.jpg");
        // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
        background-size: cover;
        transition: transform $switchAT ease-in-out;
    }

    // 画像後の要素
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    @include signUpActive {
        // 新規登録時のアニメーション
        &:before {
            transform: translate3d($formW, 0, 0);
        }
    }

    // 画像のテキスト部分
    &__text {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        transition: transform $switchAT ease-in-out;

        h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        p {
            font-size: 14px;
            line-height: 1.5;
        }

        &.m--up {
            // 上方向へのアニメーション
            @include signUpActive {
                transform: translateX($imgW*2);
            }
        }

        &.m--in {
            // 左方向へのアニメーション
            transform: translateX($imgW * -2);

            @include signUpActive {
                transform: translateX(0);
            }
        }
    }

    // ボタンのスタイル
    &__btn {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 100px;
        height: $btnH;
        margin: 0 auto;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;

        // ボタンの後ろの要素
        &:after {
            content: '';
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: transform $switchAT;

            &.m--in {
                // 上方向へのアニメーション
                transform: translateY($btnH*-2);

                @include signUpActive {
                    transform: translateY(0);
                }
            }

            &.m--up {
                @include signUpActive {
                    // 下方向へのアニメーション
                    transform: translateY($btnH*2);
                }
            }
        }
    }
}

// 見出しのスタイル
h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

// ラベルのスタイル
label {
    display: block;
    width: $inputW;
    margin: 25px auto 0;
    text-align: center;

    span {
        font-size: 12px;
        color: #cfcfcf;
        text-transform: uppercase;
    }
}

// 入力フォームのスタイル
input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

// パスワード忘れのリンクスタイル
.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

// 送信ボタンのスタイル
.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

// .fb-btn {
//     border: 2px solid #d3dae9;
//     color: darken(#d3dae9, 20%);

//     span {
//         font-weight: bold;
//         color: darken(#768cb6, 20%);
//     }
// }

// サインインフォームのアニメーションスタイル
.sign-in {
    transition-timing-function: ease-out;

    @include signUpActive {
        transition-timing-function: ease-in-out;
        transition-duration: $switchAT;
        transform: translate3d($formW, 0, 0);
    }
}

// サインアップフォームのアニメーションスタイル
.sign-up {
    transform: translate3d($contW * -1, 0, 0);

    @include signUpActive {
        transform: translate3d(0, 0, 0);
    }
}

