h1{
    text-align: center;
    font-size: 60px;
}

.next{
    margin-top: 30%;
    margin-left: 37%;
    width: 8%;
    height: 55px;
    text-size-adjust: 30px;
}

.finish{
    margin-left: 44.38%;
    width: 8%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.555);
}

body{
    background-color: rgba(255, 228, 196, 0.275);
}

