body{
    background-color: cornsilk;
}

button{
    margin-left: 25%;
    width: 8%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.555);

    /* フォント関連のスタイル */
    font-size: 22px;
    /* サイズを大きくする */
    font-weight: bold;
    /* ボタンの色と背景色 */
    color: #ffffff;
    background-color: black;
    /* ボタンを中央に配置する */
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

/* マウスホバー時のスタイル */
button:hover {
    background-color: #2980b9;
    border-color: #3498db;
}

/* アクティブ（クリック時）のスタイル */
button:active {
    background-color: #1f618d;
    border-color: #2874a6;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 47.5px;
    /* 適切な間隔を設定してください */
}

.food-image {
    margin: auto;
    width: 250px;
    border: 2px solid #999999;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px rgba(153, 153, 153, 1.0);
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    display: inline-block;
    cursor: pointer;

    .title {
        font-weight: bold;
        margin: 4px auto;
    }
}

.food-image:hover {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: unset;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.r_name {
    text-align: center;
    white-space: nowrap;
}

.error{
    margin-left: 37.5%;
    margin-top: 20%;
    display: flex;
    text-align: center;
}

