body{
    background-color: cornsilk;
}

.three_line{
    display: flex;
    width: 50%;
    margin: auto;
}

.foodimage{
    margin-right: 100px;
}

.foodstuff{
    display: flex;
    width: calc((500px - 100px) / 2);
    margin: auto;
}

.cookingtime{
    padding-left: 30px;
    width: calc((500px - 100px) / 2);
}

.title{
    border: 5px solid black;
    text-align: center;
    background-color: white;
    font-size: 30px;
    width: 130px;
    height: 45px;
    margin: auto;
}

.cookingmethod{
    clear: both;
    margin: auto;
    padding:  5px;
    border: 7px ridge RGB(255, 248,220);
    background-color: white;
    width: 1400px;
    /* height: 500px; */
    font-size: 30px;
}



.ingre{
    white-space:nowrap;
    transform: translate(-18%);
}
h2{
    text-align: center;
}

li{
    margin-left: 12%;
}


button{
    margin-left: 25%;
    width: 8%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.555);

    /* フォント関連のスタイル */
    font-size: 22px;
    /* サイズを大きくする */
    font-weight: bold;
    /* ボタンの色と背景色 */
    color: #ffffff;
    background-color: black;
    /* ボタンを中央に配置する */
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

/* マウスホバー時のスタイル */
button:hover {
    background-color: #2980b9;
    border-color: #3498db;
}

/* アクティブ（クリック時）のスタイル */
button:active {
    background-color: #1f618d;
    border-color: #2874a6;
}

/* button{
    margin-left: 50%;
    transform: translate(-700%, -2000%);
} */