body{
    background-color: cornsilk;
}

.three_line{
    display: flex;
    width: 50%;
    margin: auto;
}

.foodimage{
    margin-right: 100px;
}

.foodstuff{
    display: flex;
    width: calc((500px - 100px) / 2);
    margin: auto;
}

.cookingtime{
    padding-left: 30px;
    width: calc((500px - 100px) / 2);
}

.title{
    border: 5px solid black;
    text-align: center;
    background-color: white;
    font-size: 30px;
    width: 130px;
    height: 45px;
    margin: auto;
}

.cookingmethod{
    clear: both;
    margin: auto;
    padding:  5px;
    border: 7px ridge RGB(255, 248,220);
    background-color: white;
    width: 1350px;
    height: 400px;
    font-size: 30px;
}



.ingre{
    transform: translate(-20%);
}
h2{
    text-align: center;
}

li{
    margin-left: 12%;
}

button{
    margin-left: 50%;
    transform: translate(-700%, -2000%);
}