body{
    background-color: blue;
}

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 40px;
    background-color: black;
    box-sizing: border-box;
}

.search_container {
    box-sizing: border-box;
    position: fixed;
    position: center;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.5em;
    width: 500px;
    overflow: hidden; /*hiddenでもええで*/
    /* float: right; */
}

.search_container input[type="text"] {
    border: none;
    height: 2.5em;
    position: center;
    /* float: right; */
}

.search_container input[type="text"]:focus {
    outline: 0;
    position: center;
    /* float: right; */
}

.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 5.0em;
    height: 3.1em;
    right: 0px;
    top: -3px;
    outline: none;
    /* float: right; */
}

.input-keyword{
    position: relative;
    display:flex ;
    top: -31px;
    padding-left: 670px;
}

.inner {
    color: pink;
    padding-left: 300px;

}

.food-button {
    display: flex;
    margin-top: -4.5%;
    padding-left: 400px;
}

.other-button {
    display: flex;
    margin-top: 0%;
    padding-left: 400px;
}

.chat_bot-button {
    display: flex;
    margin-top: 0%;
    padding-left: 400px;
}


img.meat_button:hover {
    width: 350px;
    height: 300px;
    opacity: 0.5;
    cursor:pointer;
}
img.meat_button:active{
    position: relative;
    top: 3px;
}

img.fish_button:hover {
    width: 350px;
    height: 300px;
    opacity: 0.5;
    cursor:pointer;
}
img.fish_button:active{
    position: relative;
    top: 3px;
}

img.vegetable_button:hover {
    width: 350px;
    height: 300px;
    opacity: 0.5;
    cursor:pointer;
}
img.vegetable_button:active{
    position: relative;
    top: 3px;
}

img.other_button:hover {
    width: 528px;
    height: 230px;
    opacity: 0.5;
    cursor:pointer;
}
img.other-button:active{
    position: relative;
    top: 3px;
}

img.local_cuisine_button:hover {
    width: 528px;
    height: 230px;
    opacity: 0.5;
    cursor:pointer;
}
img.local_cuisine_button:active{
    position: relative;
    top: 3px;
}

img.chatbot_button:hover {
    width: 528px;
    height: 230px;
    opacity: 0.5;
    cursor:pointer;
}
img.chatbot_button:active{
    position: relative;
    top: 3px;
}

.cooking{
    height: 100%;
    right: 0;
    position: fixed;
    top: 100px;
    width:  400px;
}